#prompt {
  position: absolute;
  left: 0;
  top: 0;
  border-right: 4px solid black;
  height: 100vh;
}

#answer {
  position: absolute;
  right: 0;
  top: 0;
  border-left: 3px solid black;
  height: 100vh;
}

.top_line {
  border-top: 2px solid black;
}

#inputs {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
}

#inputs > label {
  height: 100%;
  background-color: beige;
  border-color: black;
}

:disabled {
  background-color: lightslategrey;
}

#prev, #next_question, #next_tossup {
  padding: 10px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.small h1 {
  font-size: 28px;
}

.small h2 {
  font-size: 24px;
}

.small h3 {
  font-size: 20px;
}

.medium h1 {
  font-size: 36px;
}

.medium h2 {
  font-size: 30px;
}

.medium h3 {
  font-size: 24px;
}

.large h1 {
  font-size: 42px;
}

.large h2 {
  font-size: 36px;
}

.large h3 {
  font-size: 30px;
}

.extra-large h1 {
  font-size: 52px;
}

.extra-large h2 {
  font-size: 46px;
}

.extra-large h3 {
  font-size: 38px;
}