#round_selection {
  width: 100%;
  text-align: center;
}

.round_button {
  height: 100px;
}

button:focus {
  outline: none !important;
}

.opened {
  background-color: blue;
}

#additional_options {
  margin-top: 30px;
}

#open_round {
  margin-top: 60px;
}

#open_round_button {
  height: 75px;
}

#rounds label {
  height: 75px;
  cursor: pointer;
}

#round_selection label, #round_selection input {
  cursor: pointer;
}
