#content {
  position: relative;
}

#user_authentication {
  margin-top: 100px;
}

#password {
  height: 80px;
  width: 400px;
  margin-top: 150px;
  text-align: center;
}

#password_error {
  color: red;
}

.round_button {
  height: 100px;
}

#submit {
  height: 80px;
  width: 400px;
}

#question {
  width: 100%
}

#prompt {
  position: absolute;
  left: 0;
  top: 0;
}

#answer {
  position: absolute;
  right: 0;
  top: 0;
}

#inputs {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
}

#inputs > button {
  height: 100%;
}