#content {
  position: relative;
}

#password {
  height: 200px;
  width: 400px;
}

#password_error {
  color: red;
}

.round_button {
  height: 100px;
  width: 200px;
}

#submit {
  height: 200px;
  width: 400px;
}

#question {
  background: purple;
  width: 100%
}

#prompt {
  position: absolute;
  background: red;
  left: 0;
  top: 0;
}

#answer {
  position: absolute;
  background: blue;
  right: 0;
  top: 0;
}

#inputs {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
}

#inputs > button {
  height: 100%;
}