<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <h1>Open TCQs</h1>
    </div>
  </div>
  <div class="row tcq_reminder align-items-center justify-content-around">
    <button class=" col-4 btn" ng-click="back_to_buzzers()">
      <img src="./app/images/back_arrow.png" />
      back to buzzers
    </label>

    <button class="col-4 btn btn-primary" ng-click="open_tcqs()">
      open tcqs
      <img src="./app/images/forward_arrow.png" />
    </label>
  </div>
</div>