<div class="container-fluid">
  <div class="row">
    <div class="col">
      <p>It is time for the Team Challenge Questions.  During this portion of the competition, I would like to remind the audience that they should remain quiet and seated until the break is called.</p>
      <p>Teams are encouraged to work together on this question; however, only the answer sheet handed in by the Captain will be graded.  Please write your school name, the competition room number, and the round, on the back of your sheets now.</p>
      <p>The timekeeper will indicate when 45 seconds, and 15 seconds are remaining.  When time is called please put your pencils down.</p>
      <p>The papers will be collected from the Captain of each team and taken to the Judges' Appeals Room for grading.</p>
    </div>
  </div>

  <div class="row align-items-center justify-content-around tcq">
    <button class="col-4 btn" ng-click="open(0)">
      open TCQ A ({{ tcqs.a_duration }})
      <img src="./app/images/forward_arrow.png" />
    </button>
    <button class="col-4 btn" ng-click="open(2)">
      open TCQ A Solution
      <img src="./app/images/forward_arrow.png" />
    </button>
  </div>
  <div class="row align-items-center justify-content-around tcq">
    <button class="col-4 btn" ng-click="open(1)">
      open TCQ B ({{ tcqs.b_duration }})
      <img src="./app/images/forward_arrow.png" />
    </button>
    <button class="col-4 btn" ng-click="open(3)">
      open TCQ B Solution
      <img src="./app/images/forward_arrow.png" />
    </button>
  </div>

  <div class="row align-items-center justify-content-around back">
    <button class="col-4 btn" ng-click="close()">
      <img src="./app/images/back_arrow.png" />
      back to buzzers
    </button>
  </div>
</div>