<div class="login">
  <div class="row">
    <h1 class="text-center col-12">Welcome to eOSB.js</h1>
  </div>

  <form ng-submit="login()">
    <div class="row justify-content-center">
      <input class="col-6" type="password" ng-keypress="clear()" ng-model="password" placeholder="Enter password" autofocus>
    </div>

    <div class="row justify-content-center">
      <button ng-click="login()" class="btn btn-primary col-6">
        <span class="helper"></span><img src="./app/images/forward_arrow.png" />
      </button>
    </div>

    <p class="text-center red" ng-show="invalid_password">try again :(</p>
  </form>
</div>