.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.bonus {
  background-color: lightgoldenrodyellow;
  height: 100%;
}

.tcq_reminder {
  position: fixed;
  width: 100%;
  height: 100%;
}