<div class="container-fluid" ng-class="{bonus: question.QuestionType[0] == 'Bonus'}">
  <div class="row" ng-show="questionIndex < 40">
    <div class="col col-8">
      <strong>
        <span>{{ question.QuestionType[0] | lowercase }}</span>
        <span>{{ question.QuestionPair[0] }}</span>
      </strong>
      <span>/</span>
      <strong>
        <span>{{ question.QuestionFormat[0] | lowercase }}</span>
      </strong>
      <div>{{ question.QuestionText[0] }}</div>
      <br />
      <div ng-show="question.QuestionFormat[0] == 'Multiple Choice'">
        <div>W</div>
        <div>{{ question.AnswerW[0] }}</div>
        <br />
        <div>X</div>
        <div>{{ question.AnswerX[0] }}</div>
        <br />
        <div>Y</div>
        <div>{{ question.AnswerY[0] }}</div>
        <br />
        <div>Z</div>
        <div>{{ question.AnswerZ[0] }}</div>
      </div>
    </div>

    <div class="col col-4">
      <div><strong>answer</strong></div>
      <div>{{ question.CorrectAnswer[0] }}</div>
    </div>
  </div>

  <div class="row round-end" ng-show="questionIndex >= 40">
    <div class="col text-center">
      <p>end of round!</p>
      <a href="" ng-click="select_round()">open another?</a>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container-fluid">
    <div class="row inputs">
      <button class="col col-4 btn" ng-click="back()" ng-disabled="questionIndex == 0">
        <img src="./app/images/back_arrow.png" />
      </button>
      <button class="col col-4 btn" ng-click="next_tossup()" ng-disabled="questionIndex >= 40">
        <img src="./app/images/red_x.png" />
      </button>
      <button class="col col-4 btn" ng-click="next_question()" ng-disabled="questionIndex >= 40">
        <img src="./app/images/forward_arrow.png" />
      </button>
    </div>
  </div>
</footer>
