.round {
  height: 75px;
  margin: 10px 25px 10px 25px;
}

.checked {
  color: lime !important;
  background-color: darkblue;
}

.header {
  margin-top: 10vh;
}

.header-content {
  margin-top: 1vh;
}

.sub-header {
  margin-top: 10vh;
}

.sub-header-content {
  margin-top: 1vh;
}