<div class="rounds container-fluid">

  <div class="row">
    <h1 class="text-center col header">Choose a round:</h1>
  </div>

  <div class="row btn-group header-content justify-content-center align-items-center">
    <button ng-repeat="round in rounds" class="btn col col-3 round align-self-center" ng-class="{checked: round == selectedRound, 'btn-primary': !openedRounds.has(round.file)}" ng-click="check(round)">
      {{ round.name }}
    </button>
  </div>

  <div class="row">
    <h4 class="text-center col sub-header">Choose additional options:</h4>
  </div>

  <div class="row justify-content-center align-items-center sub-header-content">
    <div class="col-4 text-center">
      <input type="checkbox" id="scorekeeping" ng-model="useScorekeeping">
      <label for="scorekeeping">Scorekeeping</label>
      <!--<label><input type="checkbox" ng-model="useScorekeeping">Scorekeeping</label>-->
    </div>
    <div class="checkbox-inline col-4">
      <label><input type="checkbox" ng-model="useTimekeeping">Timekeeping</label>
    </div>
  </div>

  <div class="row justify-content-center">
    <button class="text-center btn btn-primary col-6" ng-click="openRound()" ng-disabled="selectedRound == null">
      <img src="./app/images/forward_arrow.png" />
    </button>
  </div>
</div>
