.round {
  height: 75px;
}

.checked {
  color: red !important;
  background-color: green;
}

.header {
  margin-top: 10vh;
}

.header-content {
  margin-top: 1vh;
}

.sub-header {
  margin-top: 10vh;
}

.sub-header-content {
  margin-top: 1vh;
}