<div class="rounds">

  <div class="row">
    <h1 class="text-center col">Choose a round:</h1>
  </div>

  <div class="row">
    <div ng-repeat="round in rounds">
      <div class="col-4 round">
        <button class="btn">
          {{ round.name }}
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <h4 class="text-center col">Choose additional options:</h4>
  </div>

  <div class="row justify-content-center">
    <div class="checkbox-inline col-3 align-self-center">
      <label><input type="checkbox" ng-model="useScorekeeping">Scorekeeping</label>
    </div>
    <div class="checkbox-inline col-3">
      <label><input type="checkbox" ng-model="useTimekeeping">Timekeeping</label>
    </div>
  </div>

  <div class="row justify-content-center">
    <button class="text-center btn btn-primary col-6">
      <span class="helper"></span><img src="./app/images/forward_arrow.png" />
    </button>
  </div>
</div>
